/* 폰트 */
@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}


html>body {
	font-family: 'Pretendard-Regular';
}

/* 커스텀 */
/* Scrollbar design for .form-control div */

html>body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #f2ede2;
}

html>body::-webkit-scrollbar {
    width: 12px;
    background-color: #f2ede2;
}

html>body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #b3a78f;
}



/* 표 디자인 */
.table-box-1 {
	width: 90%;
	white-space: nowrap;
}

.table-box-1>thead tr {
	background: linear-gradient(to right, #536976, #292e49); /* 로얄블루 색상 */
}

.table-box-1>tbody th {
	background: linear-gradient(to right, #536976, #292e49); /* 로얄블루 색상 */
}

.table-box-1 th {
	/* 	background-color: #1d96b2; */
	/* 	background: linear-gradient(to right, #c0c0aa, #1cefff); */
	border: 1px solid rgba(255, 0, 0, 0.1);
	font-weight: normal;
	font-size: 13px;
	text-align: left;
	color: white;
	box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.table-box-1 td {
	font-weight: normal;
	font-size: 14px;
	border: 1px solid rgba(255, 0, 0, 0.1);
}


/* 상세보기 테이블 */
.table-box-detail {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.table-box-detail tbody th {
	background: linear-gradient(to right, #536976, #292e49); /* 로얄블루 색상 */
	white-space: nowrap;
	width: 80px;
}

.table-box-detail th {
	border: 1px solid rgba(255, 0, 0, 0.1);
	font-weight: normal;
	font-size: 13px;
	text-align: center;
	color: white;
	box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.table-box-detail td {
	font-weight: normal;
	font-size: 14px;
	border: 1px solid rgba(255, 0, 0, 0.1);
}

/* 페이지 제목 위치 */
#pageTitle {
	margin-left: 70px;
	margin-top: 100px;
	margin-bottom: 30px;
	font-size: 5rem;
	font-weight: bold;
}
